on post-fs
	exec - root -- /system/bin/vndk-detect
	exec - root -- /system/bin/rw-system.sh
	mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind
        setprop ro.vndk.version ${persist.sys.vndk}

on property:vold.decrypt=trigger_restart_framework
	exec - root -- /system/bin/shirayuki-data.sh

on early-boot
	exec - root -- /system/bin/shirayuki-data.sh

service shirayuki_on_boot /system/bin/shirayuki-boot.sh
    oneshot
    disabled

on property:sys.boot_completed=1
    start shirayuki_on_boot
    chown wifi system /data/misc/wifi
    chown system wifi /data/misc/wifi/hostapd.conf

on property:ro.sf.lcd_density=*
    restart surfaceflinger

on property:vendor.debug.sf.latch_unsignaled=1
    setprop debug.sf.latch_unsignaled 1

on property:ro.vendor.radio.default_network=*
    setprop ro.telephony.default_network ${ro.vendor.radio.default_network}

